body
{
	margin: 0;
	background-color: #333333;
}

#wrapper
{
	width: 900px;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	background-color: #bfbfbf;
	border-radius: 5px;
}

header
{
	height: 150px;
	background-image: url('header.png');
}

nav
{
	background-image: url('nav.png');
	height: 30px;
}

nav a
{
	color: white;
	text-decoration: none;
}

nav a:hover
{
	text-decoration: underline;
}

nav ul
{
	margin: 0;
	padding: 0 0 0 10px;
}

nav li
{
	list-style-type: none;
	float:left;
	margin: 5.5px 0 5.5px 15px;
}

#content
{
	clear: both;
	padding: 10px;
}

h1
{
	margin-top: 0;
}